{% extends "base.html" %}

{% block content %}
    <h2>Articles</h2>
    <ul class="list-group">
        {% for article in object_list %}
            <li class="list-group-item">
            <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="{{ article.title }}" data-content="{{ article.text }}">{{ article.title }}</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}