{% extends "base.html" %}

{% block content %}
    <h2>Authors</h2>
    <ul>
        {% for author in object_list %}
            <li>{{ author.first_name }} {{ author.last_name }}</li>
        {% endfor %}
    </ul>
{% endblock %}