body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

header {
    border: 2px solid rgb(255, 166, 0);
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
}

div#filter-form-wrapper{
    border: 2px solid rgb(0, 38, 207);
    border-radius: 10px;
}

div#content-wrapper{
    padding: 20px;
    border: 2px solid rgb(24, 207, 0);
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    min-width: 53%;
}

div#form-wrapper{
    padding: 20px;
    border: 2px solid rgb(207, 0, 190);
    border-radius: 10px;
    margin-top: 10px;
    float: right;
    max-width: 40%;
}

footer {
    border: 2px solid rgb(0, 146, 172);
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    float: right;
    width: 100%;
}

div#footer-wrapper{
    height: 50px;
    line-height: 50px;
    text-align: center;
}

div#menu-element{
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100px;
}

span{
    display: inline-block;
    vertical-align: middle;
    line-height: 15px; /* <-- adjust this */
}

h1 {
    color: rgb(29, 29, 29);
}

table.form-table {
    border-collapse: collapse;
}

table.form-table th, td{
    border-collapse: collapse;
    border: 1px solid rgb(126, 126, 126);
}

table.form-table th {
    text-align: left;
}

@media screen and (max-width: 1360px) {
    div#content-wrapper {
        float: none;
        min-width: 90%;
    }

    div#form-wrapper {
        float: none;
        min-width: 90%;
        max-width: none;
    }
   }