{% extends 'notes/base_notes.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block message %}
<span>{{ message }}</span>
{% endblock %}

{% block form%}
<h2>{{ title }}</h2>
<form method="POST">
{% csrf_token %}
<ul>
{{ form.as_ul }}
</ul>
<input type="submit" value="{{ button_text }}">
</form>
{% endblock %}