{% extends 'notes/base_notes.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<h2>Pen name: </h2>
<p>{{ author.get_pen_name }}</p>
<h2>Notes:</h2>
<ol>
  {% for note in author.notes.all %}
  <li><a href="{% url 'note-detail' note.id %}">{{ note.text|truncatechars:20 }}</a></li>
  {% endfor %}
</ol>
  <a href="{% url 'note-add' %}">Add Note</a>
{% endblock %}

{% block form%}
<h2>Add new Note</h2>
<form action="{% url 'author-detail' author.id %}" method="POST">
{% csrf_token %}
<ul>
{{ form.as_ul }}
</ul>
<input type="submit" value="Add Note">
</form>
{% endblock %}