{% extends 'notes/base_notes.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<ol>
  {% for author in author_list %}
  <li><a href="{% url 'author-detail' author.id %}">{{ author.get_pen_name }}</a></li>
  {% endfor %}
</ol>
{% endblock %}

{% block form%}
<h2>Add new Author</h2>
<form action="{% url 'authors-index' %}" method="POST">
{% csrf_token %}
<ul>
{{ form.as_ul }}
</ul>
<input type="submit" value="Add Author">
</form>
{% endblock %}