<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/note_main.css' %}">
    <title>
    {% block title %}{% endblock %}
    </title>
  </head>
  <body>

    <header>
    <div id="menu-element">
      <span style="white-space: nowrap;">
        <a href="{% url 'authors-index' %}">Authors</a> | 
        {% if user.is_authenticated %}
        Welcome, <a href="{% url 'author-detail' user.author.id %}">{{ user.author.pen_name }}</a> | 
        <a href="{% url 'custom_logout' %}">Log Out</a> | 
        {% else %}
        <a href="{% url 'custom_login' %}">Sign In</a> | 
        <a href="{% url 'register' %}">Sign Up</a> | 
        {% endif %}
      </span>
    </div>
    </header>

    {% if filter_form %}
    <div id="filter-form-wrapper">
    {% block filter_form %}{% endblock %}
    </div>
    {% endif %}

    <div id="content-wrapper">
    {% block message %}{% endblock %}
    {% block content %}{% endblock %}
    </div>

    {% if form %}
    <div id="form-wrapper">
    {% block form %}{% endblock %}
    </div>
    {% endif %}
    
    <footer>
    <div id="footer-wrapper">
    <span><h3>Footer</h3></span>
    </div>
    </footer>
  </body>
</html>