{% extends 'notes/base_notes.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
 <p>Вы действительно хотите удалить объект {{ object }}</p>
 <input type="submit" value="Delete">
</form>
{% endblock %}