{% extends 'notes/base_notes.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<hr>
{{ note.text }}
<hr>
<h3>Created by:</h3>
<p>{{ note.author.full_name }}</p>
<h3>Create date:</h3>
<p>{{ note.created }}</p>
<h3>Last update:</h3>
<p>{{ note.updated }}</p>
<h3>Likes:</h3>
<p>{{ note.likes_count }}</p>
<hr>
<h3>Comments:</h3>
<ul>
    {% for comment in comments %}
    <li>
    <h4>{{ comment.author.full_name }}: {{ comment.created}}</h4>
    <hr>
    <p>{{comment.text}}</p>
    <ul>
        {% for sub_comment in comment.sub_comments.all %}
        <li>
        <h4>{{ sub_comment.author.full_name }}: {{ sub_comment.created}}</h4>
        <hr>
        <p>{{sub_comment.text}}</p>
        <hr>
        </li>
        {% endfor %}
    </ul>
    <hr>
    </li>
    {% endfor %}
</ul>

{% endblock %}